[user]
	name = kimbochen
	email = github@thc.anonaddy.com
[color]
	ui = true
[core]
	editor = nvim
	excludesfile = /Users/kimbochen/.gitignore_global
[alias]
    lg = log --color --graph --abbrev-commit
    ll = log --color --oneline --abbrev-commit
[init]
	defaultBranch = master
