[user]
	name = kimbochen
	email = chentenghung@gmail.com
[color]
	ui = true
[core]
	editor = nvim
	excludesfile = /Users/kimbochen/.gitignore_global
[alias]
    lg = log --color --graph --abbrev-commit
    lgn = log --color --oneline --abbrev-commit
